<!--@subject {{if displayAsInstallment}}{{trans "Installment payment failed"}}{{else}}{{trans "Subscription payment failed"}}{{/if}}@-->
<!--@vars {
"var extendLink":"Extend Subscription Link",
"var secureLink":"Secure Link"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Dear %customerName," customerName=$customerName}}</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{if isFreeTrial}}
                <p>{{trans "We will have to suspend your subscription in case no valid payment details shall be input shortly."}}</p>
            <p>{{trans 'You can follow this <a href="%secureLink">link</a> to input you valid payment details and benefit from the subscription offer.' secureLink=$secureLink|raw}}</p>
                {{trans 'Feel free to contact us for more information on the matter at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}{{depend store_phone}} {{trans 'or call us at <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}.
            {{else}}
                {{if displayAsInstallment}}
                    <p>{{trans "We were unable to renew your installment because of a problem with your current payment method."}}</p>
                {{else}}
                    <p>{{trans "We were unable to renew your subscription because of a problem with your current payment method."}}</p>
                {{/if}}
                {{trans 'Feel free to contact us for more information on the matter at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}{{depend store_phone}} {{trans 'or call us at <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}.
            {{/if}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
