<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <aw_sarp2>
            <general>
                <log_enabled>1</log_enabled>
                <is_used_advanced_pricing>0</is_used_advanced_pricing>
                <recalculation_of_totals>0</recalculation_of_totals>
            </general>
            <product_page>
                <subscription_options_renderer>radiobutton</subscription_options_renderer>
                <alternative_subscription_period_details_view>0</alternative_subscription_period_details_view>
                <is_used_subscription_price_in_as_low_as>0</is_used_subscription_price_in_as_low_as>
            </product_page>
            <email_settings>
                <email_identity>general</email_identity>
                <successful_billing_email_enabled>1</successful_billing_email_enabled>
                <successful_billing_email_template>aw_sarp2_email_settings_successful_billing_email_template</successful_billing_email_template>
                <failed_billing_email_enabled>1</failed_billing_email_enabled>
                <failed_billing_email_template>aw_sarp2_email_settings_failed_billing_email_template</failed_billing_email_template>
                <subscription_cancelled_admin_email_enabled>1</subscription_cancelled_admin_email_enabled>
                <subscription_cancelled_admin_email_template>aw_sarp2_email_settings_subscription_cancelled_admin_email_template</subscription_cancelled_admin_email_template>
                <subscription_cancelled_customer_email_enabled>1</subscription_cancelled_customer_email_enabled>
                <subscription_cancelled_customer_email_template>aw_sarp2_email_settings_subscription_cancelled_customer_email_template</subscription_cancelled_customer_email_template>
                <upcoming_billing_email_days_offset>0</upcoming_billing_email_days_offset>
                <upcoming_billing_email_template>aw_sarp2_email_settings_upcoming_billing_email_template</upcoming_billing_email_template>
                <failed_billing_admin_email_template>aw_sarp2_email_settings_failed_billing_admin_email_template</failed_billing_admin_email_template>
                <subscription_created_email_template>aw_sarp2_email_settings_subscription_created_email_template</subscription_created_email_template>
                <send_secure_link_to>1</send_secure_link_to>
            </email_settings>
            <engine>
                <use_bundled_payments>1</use_bundled_payments>
                <bundle_virtual>0</bundle_virtual>
                <bundled_failure_handling>retry_bundled</bundled_failure_handling>
                <max_retries_count>3</max_retries_count>
            </engine>
            <subscription_editing>
                <can_switch_to_another_plan>1</can_switch_to_another_plan>
                <can_change_shipping_address>1</can_change_shipping_address>
                <can_edit_next_payment_date>1</can_edit_next_payment_date>
                <earliest_next_payment_date>1</earliest_next_payment_date>
                <can_edit_next_payment_date_for_membership>0</can_edit_next_payment_date_for_membership>
                <can_edit_product_item>1</can_edit_product_item>
                <can_one_time_edit_product_item>1</can_one_time_edit_product_item>
                <can_cancel_subscription>1</can_cancel_subscription>
                <can_add_to_nearest_subscription>0</can_add_to_nearest_subscription>
            </subscription_editing>
        </aw_sarp2>
        <payment>
            <!-- to do need to find another way to apply settings (if module is off then fatal error occurs) -->
            <aw_bambora_apac>
                <aw_sarp_can_use_mixed_checkout>1</aw_sarp_can_use_mixed_checkout>
                <aw_sarp_can_use_subscription_checkout>1</aw_sarp_can_use_subscription_checkout>
            </aw_bambora_apac>
            <authorizenet_acceptjs>
                <aw_sarp_can_use_mixed_checkout>1</aw_sarp_can_use_mixed_checkout>
                <aw_sarp_can_use_subscription_checkout>1</aw_sarp_can_use_subscription_checkout>
            </authorizenet_acceptjs>
            <cashondelivery>
                <aw_sarp_can_use_mixed_checkout>1</aw_sarp_can_use_mixed_checkout>
                <aw_sarp_can_use_subscription_checkout>1</aw_sarp_can_use_subscription_checkout>
            </cashondelivery>
            <aw_nmi>
                <aw_sarp_can_use_mixed_checkout>1</aw_sarp_can_use_mixed_checkout>
                <aw_sarp_can_use_subscription_checkout>1</aw_sarp_can_use_subscription_checkout>
            </aw_nmi>

            <!-- Recurring payments -->
            <aw_sarp_aw_bambora_apac_recurring>
                <model>AwSarp2AwBamboraApacRecurringFacade</model>
                <can_use_checkout>0</can_use_checkout>
            </aw_sarp_aw_bambora_apac_recurring>
            <aw_sarp_authorizenet_acceptjs_recurring>
                <model>AwSarp2AuthorizenetAcceptjsRecurringFacade</model>
                <can_use_checkout>0</can_use_checkout>
            </aw_sarp_authorizenet_acceptjs_recurring>
            <aw_sarp_cashondelivery_recurring>
                <model>Aheadworks\Sarp2\Model\Payment\Method\CashondeliveryRecurring</model>
                <can_use_checkout>0</can_use_checkout>
            </aw_sarp_cashondelivery_recurring>
            <aw_sarp_aw_nmi_recurring>
                <model>AwNmiSarp2RecurringFacade</model>
                <can_use_checkout>0</can_use_checkout>
            </aw_sarp_aw_nmi_recurring>
        </payment>
    </default>
</config>
